name: Publish package

on:
  release:
    types:
      - published

jobs:
  build:
    name: Publish to PyPI
    runs-on: ubuntu-22.04
    permissions:
      id-token: write

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6

    - name: Build
      run: >
        pip install build
        && python -m build

    - name: Upload binaries to release
      uses: pypa/gh-action-pypi-publish@release/v1
